<div class="top">
 <div class="allout">
 <br>
 <br>
 ALL OUT<br>
<br>
<br>
<br>
<br>
<br>
<%= link_to "診断", sindans_path, class:'sinda' %><br>
<br>
<br>
<%= link_to "投稿", new_tweet_path, class:'toukou' %>
 </div>
 <div class="chinnning">
 <%= image_tag 'edgar.jpg', class:"edgar" %>
 <p1>～あなたにあったトレーニングと食事内容がわかる～</p1>
 </div>

</div>