// Place all the styles related to the sindans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.aiueo{
    font-size: 8px;
}

.aiu{
    font-size: 10PX;
}

.aiue{
    font-size: 10PX;
}

.ai{
    font-size: 10PX;
}

.toukoue{
    font-size: large;
}